* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.darkMode {
  background-color: #2a2a72;
}
.darkMode .container {
  background-color: #2a2a72;
}
.darkMode label {
  color: #cbd7ec;
}
.darkMode input {
  background-color: #cbd7ec;
  color: #cbd7ec;
}
.darkMode button {
  background-color: #2a2a72;
}
.darkMode div p {
  color: #cbd7ec;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7fc5ee;
}
body .container {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: #ffa400;
  border: 1px solid #90caf9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body .container h1 {
  text-align: center;
  text-transform: uppercase;
  color: #2a2a72;
}
body form {
  display: flex;
  flex-direction: column;
  color: #ffa400;
}
body label {
  margin-top: 10px;
  font-weight: bolder;
  color: #2a2a72;
}
body label div {
  display: none;
}
body label span:hover ~ div {
  display: block;
}
body input,
body select,
body button {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #90caf9;
  border-radius: 4px;
  font-size: 16px;
}
body input,
body select {
  background-color: #cbf7ed;
  color: #2a2a72;
}
body button {
  margin-top: 15px;
  cursor: pointer;
  background-color: #2a2a72;
  color: #cbd7ec;
  border: none;
}
body button:hover {
  background-color: #1565b8;
  color: #cbd7ec;
}
body .top-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #0d47a1; /* Dark Blue */
  color: white;
  /* Container for the toggle */
  /* Hide default checkbox */
  /* The track */
  /* The circular slider */
  /* Toggled state */
}
body .top-buttons .toggleTheme {
  display: flex;
  flex-direction: column;
}
body .top-buttons .toggleTheme .toggleTxt {
  font-size: small;
}
body .top-buttons .toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
body .top-buttons .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .top-buttons .slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}
body .top-buttons .slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
body .top-buttons .toggle-switch input:checked + .slider {
  background-color: #4caf50;
}
body .top-buttons .toggle-switch input:checked + .slider::before {
  transform: translateX(26px);
}
body .top-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
body .top-buttons button:hover {
  text-decoration: underline;
}
body .link-container {
  text-align: center;
  margin-top: 15px;
}
body .link-container a {
  color: #1565c0;
  text-decoration: none;
}
body .link-container a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */