@import "../../Utils/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.darkMode {
  background-color: $background-dark;
  .container {
    background-color: $background-dark;
  }
  label {
    color: $text-dark;
  }
  input {
    background-color: $text-dark;
    color: $text-dark;
  }
  button {
    background-color: $button;
  }
  div {
    p {
      color: $text-dark;
    }
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-light;
  .container {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: $form-color-light;
    border: 1px solid #90caf9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    h1 {
      text-align: center;
      text-transform: uppercase;
      color: $text-light;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    color: $form-color-light;
  }
  label {
    margin-top: 10px;
    font-weight: bolder;
    color: $text-light;
    div {
      display: none;
    }
    span:hover ~ div {
      display: block;
    }
  }
  input,
  select,
  button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #90caf9;
    border-radius: 4px;
    font-size: 16px;
  }
  input,
  select {
    background-color: $light-input-color;
    color: $text-light;
  }
  button {
    margin-top: 15px;
    cursor: pointer;
    background-color: $button;
    color: $button-text;
    border: none;
  }
  button:hover {
    background-color: $button-hover;
    color: $button-text;
  }
  .top-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #0d47a1; /* Dark Blue */
    color: white;
    /* Container for the toggle */
    .toggleTheme {
      display: flex;
      flex-direction: column;
      .toggleTxt {
        font-size: small;
      }
    }
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;
    }

    /* Hide default checkbox */
    .toggle-switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The track */
    .slider {
      position: absolute;
      cursor: pointer;
      background-color: #ccc;
      border-radius: 24px;
      width: 100%;
      height: 100%;
      transition: background-color 0.3s;
    }

    /* The circular slider */
    .slider::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s;
    }

    /* Toggled state */
    .toggle-switch input:checked + .slider {
      background-color: #4caf50;
    }

    .toggle-switch input:checked + .slider::before {
      transform: translateX(26px);
    }
  }
  .top-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .top-buttons button:hover {
    text-decoration: underline;
  }
  .link-container {
    text-align: center;
    margin-top: 15px;
  }
  .link-container a {
    color: #1565c0;
    text-decoration: none;
  }
  .link-container a:hover {
    text-decoration: underline;
  }
}
