$light-bg: #CBF7ED;
$light-button-pcolor: #8EA8C3;
$light-button-scolor: #23395B;
$light-text: #23395B;
$light-input-color: #CBF7ED;
$light-form-color: #78CDD7;

$dark-bg: #161925;
$dark-button-pcolor: #23395B;
$dark-button-scolor: #406E8E;
$dark-text: #FFFFFA;
$dark-input-color: #406E8E;
$dark-form-color: #8EA8C3;

$incorrect-color: #f83e3e;