$light-bg: #cbf7ed;
$light-button-pcolor: #8ea8c3;
$light-button-scolor: #23395b;
$light-text: #23395b;
$light-input-color: #cbf7ed;
$light-form-color: #78cdd7;

$dark-bg: #161925;
$dark-button-pcolor: #23395b;
$dark-button-scolor: #406e8e;
$dark-text: #fffffa;
$dark-input-color: #406e8e;
$dark-form-color: #8ea8c3;

$incorrect-color: #f83e3e;
$background-light: #7fc5ee;
$background-dark: #36373d;
$navbarFooter: #41716f;

//_____________________________

$form-color-light: #ffa400;
$form-color-dark: #2a2a72;
$background-light: #7fc5ee;
$background-dark: #2a2a72;
$button: #2a2a72;
$button-hover: #1565b8;
$button-text: #cbd7ec;
$text-light: #2a2a72;
$text-dark: #cbd7ec;
