* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
}

body {
  background-image: url("./background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f0f0f0; /* Light background for visibility */
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #261cedbb;
  padding: 10px 20px;
}

dsad .navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Navigation links */
/* .navbar .nav-links {
  display: flex;
  gap: 20px;
} */

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  transition: background 0.3s;
  text-transform: uppercase;
  font-size: larger;
}

.navbar .nav-links a:hover {
  background-color: #ed1c3fbb;
  border-radius: 4px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

.currentUser {
  background: #6200ea; /* Purple background */
  color: #ffffff; /* White text */
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite; /* Pulsing animation */
}

/* Define the pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1.05); /* Slightly enlarge */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #261cedbb;
    padding: 10px;
    border-radius: 8px;
  }

  /* .active {
    display: flex;
  } */

  .hamburger {
    display: flex;
  }
}
.active {
  display: flex;
}
@media only screen and (min-width: 769px) {
  .navbar .nav-links {
    display: flex;
    gap: 20px;
  }
}
