* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  
  body{
      background-image: url('./background.jpg');
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #261cedbb;
    padding: 10px 20px;
  }

  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  

  .navbar .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: background 0.3s;
    text-transform: uppercase;
    font-size: larger;
  }
  
  .navbar .nav-links a:hover {
    background-color: #ed1c3fbb;
    border-radius: 4px;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #261cedbb;
      padding: 10px;
      border-radius: 8px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
form {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


form div {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px; 
}


form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px; 
    color: #333;
}


form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
}


form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; 
    align-self: center;
    text-transform: uppercase;
    font-weight: bolder;


}

form button:hover {
    background-color: #45a049;
}


#error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


.users {
    margin-top: 20px;
}

