@import "../../Utils/variables";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background: $form-color-light;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: $text-light;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: $text-light;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.recoverBtn,
.cancelBtn {
  width: 100%;
  padding: 10px;
  background-color: $button;
  color: $button-text;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.recoverBtn:hover,
.cancelBtn:hover {
  background-color: $button-hover;
}

.links {
  font-size: 14px;
}

.links a {
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
